<div *ngIf="liste">
  <h3>Liste : {{ liste.libelle }}</h3>
  Description : {{ liste.description }}
  <div *ngIf="liste.items.length > 0">
    <h4>Items</h4>
    <table class="table">
      <tbody>
        <tr *ngFor="let item of liste.items">
          <td>{{ item.libelle }}</td>
          <td>
            <button
              class="btn"
              [class.btn-primary]="!item.valide"
              [class.btn-success]="item.valide"
              (click)="toogleItemValidation(item)"
            >
              V
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="removeItem(item.id)">
              X
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <input
      (keyup.enter)="addItem(textLibelle.value)"
      #textLibelle
      type="text"
    />
  </div>
</div>
<div *ngIf="!liste && !error">
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf="error">
  {{ error }}
</div>
